.tileBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:30px;
}
.tileBox .tile{
    position: relative;
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: block;
    color: var(--black);
    background: var(--tile);
}
.tileBox .tile .date{
    position: relative;
    font-size: 1em;
    width:100%;
    text-align:center;
    margin-top:5px;
}
.tileBox .tile img{
    width:100%;
}
@media (max-width:1315px){
    .tileBox{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:1041px){
    .nav{
        left: -330px;
    }
    .main{
        width:100%;
        left: 0;
    }
    .main.active{
        left: 330px;
    }
    .nav.active{
        left: 0;
        width: 330px;
    }
    .tileBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:530px){
    .tileBox{
        grid-template-columns: repeat(1,1fr);
    }
}