.tileBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:auto;
}
.tileBox .tile{
    position: relative;
    width:90%;
    height: auto;
    padding:20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.2);
    border-radius: 20px;
    color: var(--black);
    background: var(--tile);
    margin-bottom: 20px;
}
.tileBox .tile img{
    max-width:640px;
    max-height: 480px;
    width:100%;
}
.tileBox .tile .description{
    position: relative;
    width: 100%;
    display: flex;
    height:40px;
}
.tileBox .tile .description .date{
    position: relative;
    font-size: 18px;
    width:70%;
    text-align:center;
    margin-top:10px;
}
.tileBox .tile .description .downloadButton{
    width: 40px;
    color:var(--black);
    font-size: 18px;
    margin:5px;
    padding: 5px;
    border-radius:40%;
    text-align:center;
}
.tileBox .tile .description .deleteButton{
    background: transparent;
    border: none;
    width: 40px;
    color:var(--black);
    font-size: 20px;
    margin:5px;
    margin-left: 20px;
    padding: 5px;
    border-radius:40%;
    text-align:center;
    cursor: pointer;
}
.tileBox .tile .description .downloadButton:hover{
    background: var(--black);
    color: var(--white);
}
.tileBox .tile .description .deleteButton:hover{
    background: red;
    color: white;
}

@media (max-width:550px){
    .tileBox{
        grid-template-columns: repeat(1,1fr);
    }
}