<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent mirror</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link th:href="@{/home.css}" rel="stylesheet" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="../files/ico.png">
</head>
<body>
    <div class="navbar">
    <div class="nav">
        <ul>
            <li>
                <a>
                    <span class="icon"><ion-icon name="code-slash-outline"></ion-icon></span>
                    <span class="title">Intelligent Mirror</span>
                </a>
            </li>
            <li>
                <a th:href="@{/home/{helloname}(helloname=${helloname})}">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a th:href="@{/home/personalization/{helloname}(helloname=${helloname})}">
                    <span class="icon"><ion-icon name="brush-outline"></ion-icon></span>
                    <span class="title">Personalization</span>
                </a>
            </li>
            <li>
                <a th:href="@{/home/gallery/{helloname}(helloname=${helloname})}">
                    <span class="icon"><ion-icon name="images-outline"></ion-icon></span>
                    <span class="title">Gallery</span>
                </a>
            </li>
            <li>
                <a th:href="@{/home/account/{helloname}(helloname=${helloname})}">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="title">Account</span>
                </a>
            </li>
            <li>
                <a th:href="@{/home/settings/{helloname}(helloname=${helloname})}">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a th:href="@{/logout}">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Logout</span>
                </a>
            </li>
            <li>
                <button id="dark-theme-toggle" class="darkThemeToggle">
                    <ion-icon name="sunny-outline" class="sun"></ion-icon>
                    <ion-icon name="moon-outline" class="moon"></ion-icon>
                </button>
            </li>
        </ul>
    </div>
</div>

    <div class="main">
        <div class="header">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="user">
                <a href="../account/account.html">
                    <img src="../icons/frozone.jpg" alt="user photo">
                </a>
            </div>
        </div>
        <div class="tileBox2">
            <div class="tile" title="eventAddingForm">
                    <div class="tileHeader">Add event</div>
                    <div class="form">
                        <form th:action="@{/addevent}" method="post">
                            <div class="text-field">
                                <input id="name" name="name" type="text" required>
                                <span></span>
                                <label>Event name</label>
                            </div>
                            <div class="text-field">
                                <input id="date" name="date" type="date" required>
                                <span></span>
                            </div>
                            <div class="text-field">
                                <input id="time" name="time" type="time" required>
                                <span></span>
                            </div>
                            <div class="text-field">
                                <input id="howlong" name="howlong" type="text" required>
                                <span></span>
                                <label>Warn days</label>
                            </div>
                            <input type="submit" value="Add event">
                        </form>
                    </div>
            </div>
            <div class="tile" title="welcome">
                <a>Welcome,<br>
                    <span data-th-text="${helloname}">XYZ</span></a>
            </div>
            <div class="tile">
                    <div class="tileHeader">Upcoming events</div>
                    <ul class="upcomingEvents">
                        <li th:each="event: ${events}">
                            <p th:text="${event.name}"></p>
                            <p th:text="${event.date}"></p>
                        </li>
                    </ul>
            </div>
        </div>


    </div>
    <script type="text/javascript" th:src="@{/darkTheme.js}"></script>
    <script type="text/javascript" th:src="@{/menu.js}"></script>
    <script type="text/javascript" th:src="@{/hovered.js}"></script>
</body>
</html>