<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelligent mirror</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link th:href="@{/personalization.css}" rel="stylesheet" />
    <link rel="shortcut icon" href="../icons/logo2.png">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="../files/ico.png">
</head>
<body>
    <div class="navbar">
        <div class="nav">
            <ul>
                <li>
                    <a>
                        <span class="icon"><ion-icon name="code-slash-outline"></ion-icon></span>
                        <span class="title">Intelligent Mirror</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/home/{helloname}(helloname=${helloname})}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/home/personalization/{helloname}(helloname=${helloname})}">
                        <span class="icon"><ion-icon name="brush-outline"></ion-icon></span>
                        <span class="title">Personalization</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/home/gallery/{helloname}(helloname=${helloname})}">
                        <span class="icon"><ion-icon name="images-outline"></ion-icon></span>
                        <span class="title">Gallery</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/home/account/{helloname}(helloname=${helloname})}">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Account</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/home/settings/{helloname}(helloname=${helloname})}">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Logout</span>
                    </a>
                </li>
                <li>
                    <button id="dark-theme-toggle" class="darkThemeToggle">
                        <ion-icon name="sunny-outline" class="sun"></ion-icon>
                        <ion-icon name="moon-outline" class="moon"></ion-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="header">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <div class="user">
                <a th:href="@{/home/account/{helloname}(helloname=${helloname})}">
                    <img src="../icons/frozone.jpg" alt="user photo">
                </a>
            </div>
        </div>
        <div class="tileBox">
        </div>
    </div>
    <script type="text/javascript" th:src="@{/darkTheme.js}"></script>
    <script type="text/javascript" th:src="@{/menu.js}"></script>
    <script type="text/javascript" th:src="@{/hovered.js}"></script>
</body>
</html>